{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="row">
    {% if links %}
    <div class="col-md-4 col-sm-12 col-lg-4 col-xl-4 bookmarks">
        <div class="card bookmark-card shadow">
            <div class="card-body">
                {% for bookmark_link in links %}
                <div class="card shadow">
                    <div class="card-body  bookmark-card-link">
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="{{bookmark_link.link}}"
                            role="tab" aria-controls="v-pills-profile" aria-selected="false">{{bookmark_link.link}}</a>
                    </div>
                    <div class="card-body bookmark-card-link-buttons">
                        <button type="button" class="btn btn-outline-primary btn-sm bookmark-btn"
                            data-post-link="{{bookmark_link.link}}"><i class="fas fa-bookmark text-warning"></i>
                            Bookmarked</button>
                        <img class="bookmark-link-loading" src="{% static "loading.gif" %}" hidden>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-12  col-lg-8 col-xl-8 bookmarks-content shadow justify-content-center">
        <iframe src="{{first_link.link}}" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
    </div>

    {% else %}
    <div class="col-md-12 col-sm-12  no-bookmarks-content justify-content-center">
        <img class="loading-dino" src="{% static "not_found.gif" %}">
        <p class="p-3 text-center">No Bookmarks<p>
    </div>
    {% endif %}

</div>





{% endblock %}