{% extends 'base.html' %}

{% block content %}
{% load static %}

{% comment %} {% include 'latest-articles.html' with latestLinks=latestLinks %} {% endcomment %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'map.css' %}" type="text/css">
{% endblock extra_head %}



<div class="pac-card" id="pac-card">
    <div>
        <div id="title">
            Autocomplete search
        </div>
        <div id="type-selector" class="pac-controls">
            <input type="radio" name="type" id="changetype-all" checked="checked">
            <label for="changetype-all">All</label>
        </div>
    </div>
    <div id="pac-container">
        <input id="pac-input" type="text" placeholder="Enter a location">
    </div>
</div>

<img class="loc-loading-img" src="{% static "loading_spinner.gif" %}" hidden>

<div id="map">
    <h3 id="geolocation">Geolocating...</h3>
</div>
{% comment %} <div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name" class="title"></span><br>
    <span id="place-address"></span>
</div> {% endcomment %}

<div class="card location-info-popover" style="visibility: hidden;">
    <div class="card-header name">
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card location-update-popover" style="visibility: hidden;">
    <div class="card-header name text-danger font-weight-bold">
    </div>
    <div class="card-body">
        <p class="new-loc-address"></p>
        <ul class="list-group location-details">
            <li class="list-group-item">Address: <span class="address"></span></li>
            <li class="list-group-item">Name: <span class="place-name"></span></li>
            <li class="list-group-item">Number of cases: <span class="numof-cases"></span></li>
            <li class="list-group-item">More info: <span class="more-info"></span></li>
            <li class="list-group-item links">Links</li>
        </ul>

        <br>
        <a class="btn btn-info btn-sm update-expand-btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            Click to update
        </a>

        <br>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form>
                    <input class="form-control" id="loc-id" type="hidden">
                    <input class="form-control" id="address" type="hidden">
                    <input class="form-control" id="lat" type="hidden">
                    <input class="form-control" id="lng" type="hidden">
                    <input class="form-control" id="marker-id" type="hidden">
                    <div class="form-group">
                        <input class="form-control" id="place-name" type="text" placeholder="Name of the place*"
                            required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="numof-cases" type="number" placeholder="Number of cases*"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">More information*</label>
                        <textarea class="form-control" id="more-info" rows="3" required></textarea>
                    </div>
                    <button type="button" class="btn btn-primary mb-2 update-btn" onclick="updateLocationInfo()">Update</button>
                    <button type="button" class="btn btn-primary mb-2 update-btn" onclick="removeLocation()">Remove</button>
                    <button type="button" class="btn btn-primary mb-2 save-btn" onclick="saveLocationInfo()">Save</button>
                    <button type="button" class="btn btn-primary mb-2 save-btn" onclick="removeNewLocation()">Remove</button>
                    <img class="loc-saving-img" src="{% static "loading_spinner.gif" %}" hidden>
                </form>
                <div class="error-msg text-danger"></div>
                <div class="error-msg1 text-danger"></div>
                <div class="error-msg2 text-danger"></div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block extra_js %}

<!-- Must be before google maps include, as it contains initMap -->
<script type="text/javascript" src="{% static 'map.js' %}"></script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&key=AIzaSyAuAADGo2aUpqxmDuo-ccOrEmD1Zy5vHwI&callback=initMap">
</script>

{% endblock extra_js %}