{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="card-columns">
    {% for entry in authors %}
    <div class="card shadow">
        <div class="card-header auther-name text-light d-flex justify-content-between">

            {% if entry.webLink %}
            <div class="mr-auto p-2"><a href="{{entry.webLink}}" rel="noopener noreferrer" class="auther-name-link"
                    target="_blank">{{entry.authername}}</a></div>
            {% else %}
            <div class="mr-auto p-2">{{entry.authername}}</div>
            {% endif %}

            {% if entry.twitter %}
            <div class="p-2"><a href="{{entry.twitter}}" class="badge badge-light" rel="noopener noreferrer"
                    target="_blank"><i class="fab fa-twitter-square"></i></a></div>
            {% endif %}

            {% if entry.github %}
            <div class="p-2"><a href="{{entry.github}}" class="badge badge-light" rel="noopener noreferrer"
                    target="_blank"><i class="fab fa-github"></i></a></div>
            {% endif %}

            {% if entry.webLink %}
            <div class="p-2"><a href="{{entry.webLink}}" class="badge badge-light" rel="noopener noreferrer"
                    target="_blank"><i class="fas fa-window-restore"></i></a></div>
            {% endif %}

        </div>
        <ul class="list-group list-group-flush">
            {% for postlink in entry.autherblogfeed.entries %}
            <li class="list-group-item author-name-links" data-link="{{postlink.link}}" data-title="{{postlink.title}}"
                data-content="{{postlink.description}}" data-link-id="{{postlink.title}}" data-toggle="modal"
                data-target=".bd-example-modal-lg">{{postlink.title}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="card shadow">
        <div class="card-header auther-name text-light d-flex justify-content-between">

            {% if entry.webLink %}
            <div class="mr-auto p-2"><a href="{{entry.webLink}}" rel="noopener noreferrer" class="auther-name-link"
                    target="_blank">{{entry.authername}}</a></div>
            {% else %}
            <div class="mr-auto p-2">{{entry.authername}}</div>
            {% endif %}

            {% if entry.twitter %}
            <div class="p-2"><a href="{{entry.twitter}}" class="badge badge-light" rel="noopener noreferrer"
                    target="_blank"><i class="fab fa-twitter-square"></i></a></div>
            {% endif %}

            {% if entry.github %}
            <div class="p-2"><a href="{{entry.github}}" class="badge badge-light" rel="noopener noreferrer"
                    target="_blank"><i class="fab fa-github"></i></a></div>
            {% endif %}

            {% if entry.webLink %}
            <div class="p-2"><a href="{{entry.webLink}}" class="badge badge-light" rel="noopener noreferrer"
                    target="_blank"><i class="fas fa-window-restore"></i></a></div>
            {% endif %}

        </div>
        <ul class="list-group list-group-flush">
            {% for postlink in entry.autherblogfeed.entries %}
            <li class="list-group-item author-name-links" data-link="{{postlink.link}}" data-title="{{postlink.title}}"
                data-content="{{postlink.description}}" data-link-id="{{postlink.title}}" data-toggle="modal"
                data-target=".bd-example-modal-lg">{{postlink.title}}</li>
            {% endfor %}
        </ul>
    </div>
    
    {% endfor %}

</div>

<div class="col-md-12 d-flex justify-content-center">
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-11">
                            <h3 class="modal-title" id="ModalLongTitle">Modal title</h3>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="col-md-12 modal-title-menu">
                            {% comment %} <button type="button" class="btn btn-outline-primary btn-sm"
                                id="bookmark-btn"><i class="fas fa-bookmark"></i> Bookmark</button> {% endcomment %}
                            <button type="button" class="btn btn-outline-secondary btn-sm" id="newtab-btn"><i
                                    class="far fa-window-maximize"></i> New Tab</button>
                            <img class="modal-title-menu-loading" src="{% static "loading.gif" %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                {% comment %} <iframe id="blog-post-link" src="" width="100%" height="550px" frameborder="0"
                    allowtransparency="true"></iframe> {% endcomment %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}