{% load static %}

<div class="row mb-2">
    {% for postlink in latestLinks.entries %}
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 latest-articles">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-8 p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <p class="mb-0">{{postlink.title}}</p>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto latest-articles-intro">This is a wider card with supporting
                    additional content.</p>
                <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-4 d-none d-lg-block">
                <img src="{% static "batman.jpg" %}" height="100%">
            </div>
        </div>
    </div>
    {% endfor %}
</div>