body {
    padding-top: 4rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

.bg-navbar {
    /* background-color: #03256c; */
    border-bottom: 8px solid #03256c;
}

.main-menu{
    border-top: 5px solid #2541B2;
}

.content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(238, 238, 238);
}

.my-fluid-container {
    /* padding-left: 10px;
    padding-right: 10px; */
    margin-left: auto;
    margin-right: auto;
}

/* @media screen and (min-width: 800px) {
    .my-fluid-container {
        max-width: 750px;
    }
}

@media screen and (min-width: 1200px) {
    .my-fluid-container {
        max-width: 1150px;
    }
}

@media screen and (min-width: 1800px) {
    .my-fluid-container {
        max-width: 1700px;
    }
} */
