body {
    padding-top: 5rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

.content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(238, 238, 238);
}

.page {
    padding: 15px 0 0;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* extra large devices */

/* @media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        max-width: 1000px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}  */

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (min-width: 1800px) {
    .container {
        max-width: 1800px;
    }
}

.modal-content {
    max-height: calc(100vh - 50px);
    overflow-y: auto;
}

.my-fluid-container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.author-card {
    height: 400px;
    overflow-y: scroll;
}

.author-card-body {
    padding: 10px;
}

.author-name-links {
    margin-bottom: 5px;
}

.author-name-links div {
    font-size: 0.9rem;
    padding: 3px;
}

.author-name-links div:hover {
    background-color: #e7e9ea;
    cursor: pointer;
}

.author-name {
    font-size: 1rem;
}

.fa-twitter {
    color: #1DA1F2
}

.bookmark-card {
    overflow-y: scroll;
    height: calc(100vh - 15rem);
}

.bookmark-card .card-body {
    padding: 5px;
}

.bookmark-card .card {
    margin-bottom: 5px;
}

.bookmarks-content {
    height: calc(100vh - 15rem);
    min-height: 300px;
    background: url(loading_screen.gif) center center no-repeat;
}

.no-bookmarks-content {
    height: calc(100vh - 15rem);
    min-height: 300px;
}

.bookmark-card-link {
    font-size: 0.9rem;
    padding: 3px;
}

.bookmark-card-link a {
    padding: 4px;
}

.bookmark-card-link-buttons {
    padding: 0 5px 5px 5px;
}

.bookmark-card-link:hover {
    background-color: #e7e9ea;
    cursor: pointer;
}

.modal-title-menu-loading {
    height: 30px;
}

.bookmark-link-loading {
    height: 30px;
}

.loading-dino {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }