.modal-content {
    max-height: calc(100vh - 50px);
    overflow-y: auto;
}

.auther-name-link {
    color: white;
}

.auther-name-link:hover {
    color: #06BEE1;
    text-decoration: none;
}

.author-card-body {
    padding: 10px;
}

.auther-name {
    padding: 5px;
    font-size: 1.3rem;
    background-color: #1768AC;
}

.author-name-links {
    padding: 8px;
}

.author-name-links:hover {
    background-color: #e7e9ea;
    cursor: pointer;
}

.fa-twitter {
    color: #1DA1F2
}

/* .latest-articles{
    height: 400px;
    max-height: 250px;
    overflow: hidden;
}

.latest-articles-intro {
    max-width: 180px;
   
} */

.latest-articles-thumbnail {
    background-image: url("batman.jpg");
    background-size: cover;
    background-clip: border-box;
    min-width: 200px;
}